In [8]:
import pandas as pd

In [9]:
# pd = pd.read_csv('E:/Downloads/Player.csv')

df = pd.read_csv('player.csv')

In [10]:
df

,Unnamed: 0,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,0,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN
5,5,6,Subroto Das,NaN,NaN,NaN,India,1,NaN
6,6,7,K Srinivasan,NaN,NaN,NaN,India,1,NaN
7,7,8,VK Sharma,NaN,NaN,NaN,India,1,NaN
8,8,9,AV Wankhade,14-Mar-92,Right_Hand,NaN,India,0,NaN
9,9,10,B Aparajith,8-Jul-94,Right_Hand,Right-arm offbreak,India,0,NaN

In [11]:
df.head(20)

,Unnamed: 0,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,0,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN
5,5,6,Subroto Das,NaN,NaN,NaN,India,1,NaN
6,6,7,K Srinivasan,NaN,NaN,NaN,India,1,NaN
7,7,8,VK Sharma,NaN,NaN,NaN,India,1,NaN
8,8,9,AV Wankhade,14-Mar-92,Right_Hand,NaN,India,0,NaN
9,9,10,B Aparajith,8-Jul-94,Right_Hand,Right-arm offbreak,India,0,NaN

In [12]:
pd.tail()

AttributeError: module 'pandas' has no attribute 'tail'

In [ ]:
df = pd.read_csv('E:/Downloads/Player.csv')

In [ ]:
type(df)

In [ ]:
df1  =  df.head()

In [ ]:
df.tail()

In [ ]:
df1.to_csv("test.csv")

In [ ]:
!ls

In [ ]:
pd.read_csv('test.csv')

In [ ]:
df = pd.read_csv('E:/Downloads/Player.csv',sep='#',header=None,names=['a','b','c','d','e','f','g','h'],skiprows=[0,4,6,8])

In [ ]:
df

In [ ]:
df = pd.read_csv('E:/Downloads/Player.csv',sep='#',na_values=['SC Ganguly',"BB McCullum"])

In [ ]:
df

In [ ]:
df = pd.read_csv('E:/Downloads/Player.csv',sep='#')

In [ ]:
df

In [ ]:
df1 = pd.read_csv('E:/Downloads/Player.csv',sep='#',skiprows=[0,1,2])

In [ ]:
df1

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
df.dtypes

In [ ]:
df1.dtypes

In [ ]:
df1 = pd.read_csv('E:/Downloads/Player.csv',sep='#')

In [ ]:
df1

In [ ]:
df1.to_csv("result3.csv",index=False,sep = "#", columns=['Player_Id','DOB'])

In [ ]:
df = pd.read_csv('E:/Downloads/Player.csv',sep='#')

In [ ]:
df

In [ ]:
df.tail()

In [ ]:
df.columns

In [ ]:
type(df['Player_Id'])

In [ ]:
type(df[['Player_Id']])

In [ ]:
df[['Player_Id', 'Batting_Hand']]

In [ ]:
df[['Is_Umpire' , 'Player_Id' , 'Batting_Hand']]

In [ ]:
df2 = pd.read_excel('E:/Downloads/sample-excel-master/LUSID Excel - Business Agility - Making Simple Changes Quickly & Easily.xlsx',sheet_name='Create your instrument universe')

In [ ]:
df4 = pd.read_html("https://www.basketball-reference.com/players/i/ibakase01.html?utm_source=direct&utm_medium=Share&utm_campaign=ShareTool")

In [ ]:
type(df4)

In [ ]:
len(df4)

In [ ]:
df4[0]

In [ ]:
df4[3].to_csv("players_data.csv")

In [ ]:
df9=pd.read_html('''https://www.basketball-reference.com/players/i/ibakase01.html?utm_source=direct&utm_medium=Share&utm_campaign=ShareTool
''')

In [ ]:
df9[0]

In [ ]:
html_data = pd.read_html("https://www.basketball-reference.com/players/i/ibakase01.html?utm_source=direct&utm_medium=Share&utm_campaign=ShareTool")
for i in range(len(html_data)):
    html_data[i].to_csv(f"html_data{i}.csv", index=False)

In [ ]:
pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
s = """{
"name" :"niru",
"phone_no" : 45454545,
"comp":["bl", "EY" , "unilver" , "verizon" , "deloitte" , "wipro"]
}
"""

In [ ]:
import json

In [ ]:
s1 = json.loads(s)

In [ ]:
s1

In [ ]:
pd.DataFrame(s1,columns=['comp'])

In [ ]:
import requests

In [ ]:
res = requests.get('https://api.github.com/repos/pandas-dev/pandas/issues')

In [ ]:
res

In [ ]:
js = res.json()

In [ ]:
js

In [ ]:
js[0]['title']

In [ ]:
for i in range(len(js)):
    print(js[i]['title'])

In [ ]:
len(js)

In [ ]:
js

In [ ]:
df4 = pd.DataFrame(js)

In [ ]:
df4.to_csv('json_dump.csv')

In [13]:
js[0]['user']

NameError: name 'js' is not defined

In [ ]:
pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")

In [ ]:
lis=[]
for i in range(len(js)):
    lis.append(js[i]['user'])
pd.DataFrame(lis)

In [ ]:
user = []
res=requests.get('https://api.github.com/repos/pandas-dev/pandas/issues')
js=res.json()
for i in range(len(js)):
    user.append(js[i]['user'])

pd.DataFrame(user)

In [ ]:
pd.DataFrame([js[i]["user"] for i in range(len(js))])

In [ ]:
l = []
for i in range(len(js)):
    l.append(js[i]['user'])
    
pd.DataFrame(l)

In [ ]:
json_data = pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")
data = pd.DataFrame.from_records(json_data['user'])
data.head()